@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Athiti:200,300,400,500,600,700&display=swap&subset=thai");
@-webkit-keyframes mouse-over {
  0% {
    opacity: 0;
    top: 70px;
  }
  100% {
    opacity: 1;
    top: 54px;
  }
}
@keyframes mouse-over {
  0% {
    opacity: 0;
    top: 70px;
  }
  100% {
    opacity: 1;
    top: 54px;
  }
}

@-webkit-keyframes mouse-out {
  0% {
    opacity: 1;
    top: 54px;
    max-height: -webkit-fit-content;
    max-height: fit-content;
  }
  100% {
    opacity: 0;
    top: 70px;
    max-height: 0px;
  }
}

@keyframes mouse-out {
  0% {
    opacity: 1;
    top: 54px;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  100% {
    opacity: 0;
    top: 70px;
    max-height: 0px;
  }
}

@-webkit-keyframes slide-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  background-size: cover;
  font: 400 1rem/1.5 'Quicksand', sans-serif, tahoma;
  color: #5C5C5C;
  font-display: swap;
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

ul {
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  margin: 0px 0;
  width: 100%;
}

a {
  color: #CFA061;
  text-decoration: none;
  display: inline;
  display: inline-block;
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
}

a:hover {
  text-decoration: none;
  color: #CFA061;
}

input, button {
  -webkit-appearance: none;
  border-radius: 0;
}

input:active, input:focus, button:active, button:focus {
  outline: none;
  border: none;
}

.p {
  width: 100%;
  margin: 0 0px 20px 0px;
  clear: both;
}

p {
  margin: 0 0 0px 0;
  padding: 0;
}

br {
  display: block;
  margin: 0px 0 0px 0;
  line-height: 0;
  content: ' ';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1200px;
}

.box-reset .row {
  margin-right: -8px;
  margin-left: -8px;
}

.box-reset .col-1, .box-reset .col-2, .box-reset .col-3, .box-reset .col-4, .box-reset .col-5, .box-reset .col-6, .box-reset .col-7, .box-reset .col-8, .box-reset .col-9, .box-reset .col-10, .box-reset .col-11, .box-reset .col-12, .box-reset .col, .box-reset .col-auto, .box-reset .col-sm-1, .box-reset .col-sm-2, .box-reset .col-sm-3, .box-reset .col-sm-4, .box-reset .col-sm-5, .box-reset .col-sm-6, .box-reset .col-sm-7, .box-reset .col-sm-8, .box-reset .col-sm-9, .box-reset .col-sm-10, .box-reset .col-sm-11, .box-reset .col-sm-12, .box-reset .col-sm, .box-reset .col-sm-auto, .box-reset .col-md-1, .box-reset .col-md-2, .box-reset .col-md-3, .box-reset .col-md-4, .box-reset .col-md-5, .box-reset .col-md-6, .box-reset .col-md-7, .box-reset .col-md-8, .box-reset .col-md-9, .box-reset .col-md-10, .box-reset .col-md-11, .box-reset .col-md-12, .box-reset .col-md, .box-reset .col-md-auto, .box-reset .col-lg-1, .box-reset .col-lg-2, .box-reset .col-lg-3, .box-reset .col-lg-4, .box-reset .col-lg-5, .box-reset .col-lg-6, .box-reset .col-lg-7, .box-reset .col-lg-8, .box-reset .col-lg-9, .box-reset .col-lg-10, .box-reset .col-lg-11, .box-reset .col-lg-12, .box-reset .col-lg, .box-reset .col-lg-auto, .box-reset .col-xl-1, .box-reset .col-xl-2, .box-reset .col-xl-3, .box-reset .col-xl-4, .box-reset .col-xl-5, .box-reset .col-xl-6, .box-reset .col-xl-7, .box-reset .col-xl-8, .box-reset .col-xl-9, .box-reset .col-xl-10, .box-reset .col-xl-11, .box-reset .col-xl-12, .box-reset .col-xl, .box-reset .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.one-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.two-clamp {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
}

.three-clamp {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
}

.four-clamp {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  word-wrap: break-word;
}

.five-clamp {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5;
  word-wrap: break-word;
}

.six-clamp {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 6;
  word-wrap: break-word;
}

.flexx-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-center {
  position: absolute;
  margin: auto 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 20;
  display: none;
}

.shadow.show {
  display: block;
}

.w-100 {
  width: 100%;
  display: inline-block;
}

.lightbox {
  position: fixed;
  display: none;
  width: 400px;
  max-width: 90%;
  height: 260px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 21;
  border: 3px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1.8rem;
  font-family: 'Quicksand';
}

.lightbox.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox i {
  -webkit-mask-image: url("/images/icons/icon-false.svg");
  mask-image: url("/images/icons/icon-false.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #f00;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  display: block;
}

.lightbox .success i {
  -webkit-mask-image: url("/images/icons/icon-true.svg");
  mask-image: url("/images/icons/icon-true.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #060;
}

.btn, .btn1, .btn-viewall {
  display: inline-block;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  font-size: 0.9rem;
  font-family: 'Source Sans Pro';
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.btn:hover, .btn1:hover, .btn-viewall:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn1, .btn-viewall {
  color: #CFA061;
  text-transform: uppercase;
  border-bottom: 2px solid #CFA061;
}

.btn-download {
  padding: 20px  35px;
  position: relative;
  font-size: 1.3rem;
  margin: 15px auto;
  display: block;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom-width: 4px;
}

.btn-download:after {
  content: '';
  display: inline-block;
  -webkit-mask-image: url("/images/icons/icon-down.svg");
  mask-image: url("/images/icons/icon-down.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #000;
  width: 15px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.btn-viewall {
  padding: 8px  35px;
  position: relative;
  font-size: 1.3rem;
  margin: 15px auto;
  display: block;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom-width: 4px;
  width: 200px;
}

.thumb, .vdo-thumb {
  background-color: #ddd !important;
}

.thumb img, .vdo-thumb img {
  width: 100%;
  display: block;
}

.thumb169, .thumb1, .vdo-thumb-small {
  position: relative;
  padding-top: 52%;
  overflow: hidden;
  clear: both;
  display: block;
  background-color: #ddd !important;
}

.thumb169 img, .thumb1 img, .vdo-thumb-small img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.thumb43, .thumb2 {
  padding-top: 75%;
  position: relative;
  overflow: hidden;
  clear: both;
  display: block;
  background-color: #ddd !important;
}

.thumb43 img, .thumb2 img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  display: block;
}

.thumb1 {
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  background-color: #ddd !important;
}

.thumb1:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.thumb1 img {
  width: 100%;
}

.thumb2 {
  transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  -ms-transition: ease-in-out 200ms;
  -moz-transition: ease-in-out 200ms;
  background-color: #ddd !important;
}

.thumb2:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.vdo-thumb {
  position: relative;
  cursor: pointer;
  background-color: #ddd !important;
  min-height: 420px;
}

.vdo-thumb:after {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
}

.vdo-thumb:hover:after {
  display: block;
  background-color: #fff;
}

.vdo-thumb-small {
  position: relative;
  cursor: pointer;
}

.vdo-thumb-small:after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
}

.vdo-thumb-small:hover:after {
  display: block;
  background-color: #fff;
}

header {
  background: #24272E;
  padding: 30px 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 140px;
  display: inline-block;
}

header .menu-top {
  width: 300px;
  display: inline-block;
  font-family: 'Quicksand';
}

header .menu-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu-top ul li {
  list-style: none;
  margin: 0 10px;
  white-space: nowrap;
}

header .menu-top ul li a {
  color: #fff;
  display: block;
  padding: 2px 20px;
}

header .menu-top ul li a:hover {
  color: #CFA061;
}

header .menu-top ul li a.active {
  background: #CFA061;
  color: #fff;
}

header .social-top a {
  display: inline-block;
  margin: 0 2px;
}

header .social-top a i {
  display: block;
  width: 26px;
  height: 26px;
}

header .social-top a i.line-icon {
  background: url("../images/icons/icon-line.svg") no-repeat;
}

header .social-top a i.fb-icon {
  background: url("../images/icons/icon-facebook.svg") no-repeat;
}

header .social-top a i.yt-icon {
  background: url("../images/icons/icon-youtube.svg") no-repeat;
}

.slick .slick-active {
  width: 30px;
}

.slick .slick-active button:before {
  content: '';
  width: 100%;
  background: #CFA061;
  height: 4px;
  margin: auto;
  bottom: 0;
  border-radius: 3px;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 25px;
          column-gap: 25px;
  padding: 30px 0 10px;
}

.product-list li {
  list-style: none;
  margin-bottom: 25px;
  position: relative;
}

.product-list li a, .product-list li img {
  width: 100%;
  display: block;
}

.product-list li .list-text {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.product-list li a:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}

.product-list li:hover a:after, .product-list li:hover .list-text {
  opacity: 1;
}

.project-detail-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.project-detail-img li {
  width: 50%;
  padding: 10px;
  list-style: none;
}

.project-detail-img li img {
  width: 100%;
  display: block;
}

.project-detail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.project-detail-list .react_lightgallery_item {
  width: 33.333333%;
  list-style: none;
  padding: 10px;
}

.project-detail-list .react_lightgallery_item:nth-child(1) {
  width: 50%;
}

.project-detail-list .react_lightgallery_item:nth-child(2) {
  width: 50%;
}

.project-detail-list .react_lightgallery_item a, .project-detail-list .react_lightgallery_item img {
  width: 100%;
  display: block;
}

.client-list, .press-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 20px;
}

.client-list li, .press-list li {
  list-style: none;
  width: 160px;
  margin-bottom: 20px;
  height: 160px;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.client-list li img, .press-list li img {
  max-width: 100%;
  max-height: 100%;
}

.press-list li {
  padding: 0px;
  height: auto;
  width: auto;
  position: relative;
}

.press-list li img {
  position: relative;
  z-index: 1;
}

.press-list li:before {
  content: '';
  background: #CFA061;
  position: absolute;
  z-index: 0;
  left: -5px;
  top: -5px;
  width: 50%;
  height: 50%;
}

.page-contact .contact-map {
  padding: 40px 0;
}

.page-contact .section-contact {
  background: #eee;
  padding: 20px;
  height: 100%;
}

.page-joinus .job-left {
  background: #eee;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 100vh;
  overflow-y: scroll;
}

.page-joinus .job-left h3 {
  text-transform: uppercase;
  color: #CFA061;
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.page-joinus .job-left ul li {
  list-style: none;
  position: relative;
  padding-left: 15px;
}

.page-joinus .job-left ul li a {
  color: #5C5C5C;
  font-size: 0.9rem;
}

.page-joinus .job-left ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #CFA061;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.page-joinus .job-right {
  font-family: 'Athiti';
}

.page-joinus .job-right .job-h {
  color: #CFA061;
  font-size: 1.3rem;
  border-bottom: 1px solid #CFA061;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

.page-joinus .job-right .frm-job {
  padding: 30px 0 0;
}

.page-joinus .job-right .frm-job .text-box, .page-joinus .job-right .frm-job textarea {
  width: 100%;
  padding: 0 10px;
  background: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-joinus .job-right .frm-job .text-box {
  height: 38px;
  border: none;
}

.page-joinus .job-right .frm-job textarea {
  height: 80px;
  border: none;
  padding: 10px;
}

.page-joinus .job-right .frm-job input[type=file] {
  border: 1px solid #eee;
}

.page-joinus .job-right .frm-job button {
  background: #CFA061;
  color: #fff;
  text-align: center;
  padding: 5px 30px;
  text-transform: uppercase;
  border: None;
  margin: 20px 0 0;
}

.page-joinus .job-right .frm-job input[name='position'] {
  color: #CFA061;
}

footer {
  text-align: center;
  padding: 70px 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer .text-logo {
  color: #5C5C5C;
  font-size: 1rem;
}

footer .text-logo span {
  color: #CFA061;
}

footer .foot-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

footer .foot-social li {
  list-style: none;
  margin: 0 5px;
}

footer .foot-social li img {
  width: 23px;
}

footer .foot-social li a {
  width: 23px;
  height: 23px;
  display: block;
}

footer .foot-social li a.pintorest {
  -webkit-mask-image: url("/images/icons/pintorest.svg");
  mask-image: url("/images/icons/pintorest.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #444;
}

footer .foot-social li a.pintorest:hover {
  background-color: #BD061B;
}

footer .foot-social li a.facebook {
  -webkit-mask-image: url("/images/icons/facebook.svg");
  mask-image: url("/images/icons/facebook.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #444;
}

footer .foot-social li a.facebook:hover {
  background-color: #304a7d;
}

footer .foot-social li a.ig {
  -webkit-mask-image: url("/images/icons/instagram.svg");
  mask-image: url("/images/icons/instagram.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #444;
}

footer .foot-social li a.ig:hover {
  background-color: #C13584;
}

footer .foot-social li a.in {
  -webkit-mask-image: url("/images/icons/in.svg");
  mask-image: url("/images/icons/in.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #444;
}

footer .foot-social li a.in:hover {
  background-color: #0077B7;
}

footer .foot-social li a.youtube {
  -webkit-mask-image: url("/images/icons/youtube.svg");
  mask-image: url("/images/icons/youtube.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  background-color: #444;
}

footer .foot-social li a.youtube:hover {
  background-color: #FF0000;
}

/*/////////////// Responsive ////////////////*/
@media only screen and (max-width: 1170px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  header .main-menu a {
    margin: 0 10vw;
  }
  .menu-tab {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 899px) {
  iframe {
    width: 100%;
    max-height: 56.25vw;
  }
  .box-center {
    position: static;
    margin: 0;
  }
  .our-mission, .home-project, .home-ouroffice {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  .our-mission .left, .our-mission .right, .home-project .left, .home-project .right, .home-ouroffice .left, .home-ouroffice .right {
    width: 100%;
  }
  .our-mission .left strong, .our-mission .right strong, .home-project .left strong, .home-project .right strong, .home-ouroffice .left strong, .home-ouroffice .right strong {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  .our-mission .right, .home-project .right, .home-ouroffice .right {
    margin-top: 20px;
  }
  .our-mission .left {
    font-size: 1.2rem;
  }
  .our-mission .left span:last-child {
    font-size: 2rem;
  }
  .our-mission .right {
    margin-top: 0;
  }
  .home-project {
    background: #CFA061;
  }
  .home-project .right {
    color: #fff;
    padding: 0 20px 20px;
  }
  .menu-tab {
    padding: 10px 0;
    position: relative;
  }
  .menu-tab .tab-mobile.clicked:before {
    -webkit-mask-image: url("/images/icons/icon-close.svg");
    mask-image: url("/images/icons/icon-close.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    background-color: #CB6161;
    width: 23px;
    height: 23px;
  }
  .menu-tab ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-tab ul.show {
    left: 0;
  }
  .menu-tab ul li {
    width: 50%;
    font-size: 0.9rem;
    text-align: center;
  }
  .menu-tab ul li:first-child a {
    border-left: none;
  }
  .menu-tab ul li a {
    border: none;
    width: 100%;
    padding: 8px 20px;
  }
  .product-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 599px) {
  .btn-viewall {
    font-size: 1rem;
  }
  header {
    padding: 20px 0;
  }
  header .main-menu {
    font-size: 1rem;
    margin: 20px 0 0;
  }
  header .main-menu a {
    margin: 0 10px;
  }
  header .top-lan {
    top: -15px;
    right: 5px;
  }
  .about-experience {
    font-size: 1rem;
  }
  .about-experience:before {
    width: 100%;
  }
  .about-experience .left, .about-experience .right {
    text-align: center !important;
  }
  .about-experience .left strong, .about-experience .right strong {
    font-size: 4rem;
  }
  .about-experience .left {
    padding-right: 10px;
  }
  .about-experience .right {
    padding-left: 10px;
  }
  .home-slide:after {
    width: 100%;
  }
  .product-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .product-list li .list-text, .product-list li a:after {
    position: static;
    opacity: 1;
  }
  .product-list li .list-text {
    color: #CFA061;
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
    margin-top: 5px;
  }
  .project-detail-list .react_lightgallery_item {
    width: 50%;
  }
  .project-detail-img {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project-detail-img li {
    width: 100%;
  }
  .client-list, .press-list, .press-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-joinus .job-right .job-h {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 479px) {
  .product-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}
/*# sourceMappingURL=style.css.map */