.slick{

    .slick-dots{
        li{
            margin:0;
        }
    }

    .slick-active{
        width:50px;

        button{
            width:auto; display: block;

            &:before{
                content:'';
                width:100%;
                background:$themecolor;
                height: 4px;
                margin:auto;
                bottom:0;
                border-radius: 3px;
            }
        }
    }
}