header{
    background:$themecolor2; padding:30px 0;
    
    .container{
        display:flex; justify-content: space-between;
        align-items: center;
    }

    .logo{ 
       width:140px; display: inline-block;
    }

    .menu-top{
        width:300px; display: inline-block;
        font-family: 'Quicksand';

        ul{
            display:flex;

            li{
                list-style: none;
                margin:0 10px;
                white-space: nowrap;

                a{
                    color:#fff; display: block;
                    padding:2px 20px;

                    &:hover{
                        color:$themecolor;
                    }

                    &.active{
                        background:$themecolor;
                        color:#fff;
                    }
                }
            }
        }
    }

    .social-top{
        a{
            display: inline-block;
            margin:0 2px;

            i{
                display:block;
                width:26px; height: 26px;

                &.line-icon{
                   background:url('../images/icons/icon-line.svg') no-repeat;
                }
                &.fb-icon{
                   background:url('../images/icons/icon-facebook.svg') no-repeat;
                }
                &.yt-icon{
                   background:url('../images/icons/icon-youtube.svg') no-repeat;
                }
            }
        }
    }
}