
@include breakpoint(large) {
    .g-map{
        margin-top:20px;
        
        iframe{
            height: 500px !important;
        }
    }

    .contact-box{
        width:100%;
        padding:20px;
        clear: both;
        float: left;
    }
}
	







	