
@include breakpoint(small) {
    header{
        .menu-top{
            ul{
                li{
                    width:25%; margin:0;
                    text-align: center;

                    a{
                        padding:2px 0;
                        font-size:0.87rem;
                    }
                }
            }
        }
    }

    .map-zone{
        .map-iframe{
            position: static;

            iframe{
                height: 500px;
                max-height: none;
            }
        }

        .map-form{
            width:100%;
            padding:20px 15px 5px;

            .txt-m{
                width:80%;
            }
        }
    }
    

    .btn-line{
        margin-top:20px;
    }

    .slide-arrows{
        display:none;
    }

    
}