
@include breakpoint(small) {
    header{
        .menu-top{
            ul{
                li{
                    width:25%; margin:0;
                    text-align: center;

                    a{
                        padding:2px 0;
                        font-size:0.87rem;
                    }
                }
            }
        }
    }

    .map-zone{
        .map-iframe{
            position: static;

            iframe{
                height: 500px;
            }
        }
    }
}