
@include breakpoint(xlarge) {
	.container{
        width:100%; max-width: 100%; 
    }

    .info-subscrib {
        .info-box{
            width:100%;
            overflow: hidden;
        }
    }
}
	







	